In [1]:
import pandas as pd
import numpy as np

In [2]:
ATL=pd.read_csv('ATL-2022.csv')
BOS=pd.read_csv('BOS-2022.csv')
BRK=pd.read_csv('BRK-2022.csv')
CHI=pd.read_csv('CHI-2022.csv')
CHO=pd.read_csv('CHO-2022.csv')
CLE=pd.read_csv('CLE-2022.csv')
DAL=pd.read_csv('DAL-2022.csv')
DEN=pd.read_csv('DEN-2022.csv')
DET=pd.read_csv('DET-2022.csv')
GSW=pd.read_csv('GSW-2022.csv')
HOU=pd.read_csv('HOU-2022.csv')
IND=pd.read_csv('IND-2022.csv')
LAC=pd.read_csv('LAC-2022.csv')
LAL=pd.read_csv('LAL-2022.csv')
MEM=pd.read_csv('MEM-2022.csv')
MIA=pd.read_csv('MIA-2022.csv')
MIL=pd.read_csv('MIL-2022.csv')
MIN=pd.read_csv('MIN-2022.csv')
NOP=pd.read_csv('NOP-2022.csv')
NYK=pd.read_csv('NYK-2022.csv')
OKC=pd.read_csv('OKC-2022.csv')
ORL=pd.read_csv('ORL-2022.csv')
PHI=pd.read_csv('PHI-2022.csv')
PHO=pd.read_csv('PHO-2022.csv')
POR=pd.read_csv('POR-2022.csv')
SAC=pd.read_csv('SAC-2022.csv')
SAS=pd.read_csv('SAS-2022.csv')
TOR=pd.read_csv('TOR-2022.csv')
UTA=pd.read_csv('UTA-2022.csv')
WAS=pd.read_csv('WAS-2022.csv')

In [3]:
merged_df = pd.concat([ATL,BOS,BRK,CHI,CHO,CLE,DAL,DEN,DET,GSW,HOU,IND,LAC,LAL,MEM,MIA,MIL,MIN,NOP,NYK,OKC,ORL,PHI,PHO,POR,SAC,SAS,TOR,UTA,WAS], axis=0, ignore_index=True)

In [5]:
merged_df=merged_df.drop_duplicates()

In [6]:
merged_df['Result']=""

In [7]:
def Result(merged_df):
    if merged_df['Time_48']=='0 days 00:48:00.000000000':
        if merged_df['Team_A_Score']>merged_df['Team_B_Score']:
            return 'Team A'
        elif merged_df['Team_A_Score']==merged_df['Team_B_Score']:
            pass
        else:
            return 'Team B'
    elif merged_df['Time_48']=='0 days 00:53:00.000000000':
        if merged_df['Team_A_Score']>merged_df['Team_B_Score']:
            return 'Team A'
        elif merged_df['Team_A_Score']==merged_df['Team_B_Score']:
            pass
        else:
            return 'Team B'
    elif merged_df['Time_48']=='0 days 00:58:00.000000000':
        if merged_df['Team_A_Score']>merged_df['Team_B_Score']:
            return 'Team A'
        elif merged_df['Team_A_Score']==merged_df['Team_B_Score']:
            pass
        else:
            return 'Team B'
    elif merged_df['Time_48']=='0 days 01:03:00.000000000':
        if merged_df['Team_A_Score']>merged_df['Team_B_Score']:
            return 'Team A'
        elif merged_df['Team_A_Score']==merged_df['Team_B_Score']:
            pass
        else:
            return 'Team B'    
    else:
        pass

In [8]:
merged_df['Result'] = merged_df.apply(Result, axis=1)

In [9]:
merged_df['Result']=merged_df['Result'].bfill()

In [10]:
merged_df

,Date,Time_48,Q,Team_A,Team_B,Team_A_Score,Team_B_Score,Team_A_Tech,Team_B_Tech,Team_A_PF,...,Team_A_teamORB,Team_B_teamORB,Team_A_teamDRB,Team_B_teamDRB,Team_A_ORB,Team_B_ORB,Team_A_DRB,Team_B_DRB,Result,Game
0,21-Oct-21,0 days 00:00:00.000000000,Q1,DAL,ATL,3,0,0,0,0,...,0,0,0,0,0,0,0,0,Team B,1
1,21-Oct-21,0 days 00:00:18.000000000,Q1,DAL,ATL,3,0,0,0,0,...,0,0,0,0,0,0,0,0,Team B,1
2,21-Oct-21,0 days 00:00:43.000000000,Q1,DAL,ATL,3,2,0,0,0,...,0,0,0,0,0,0,0,0,Team B,1
3,21-Oct-21,0 days 00:01:00.000000000,Q1,DAL,ATL,3,2,0,0,0,...,0,0,0,0,0,0,0,0,Team B,1
4,21-Oct-21,0 days 00:01:03.000000000,Q1,DAL,ATL,3,2,0,0,0,...,0,0,0,0,1,0,0,0,Team B,1
5,21-Oct-21,0 days 00:01:04.000000000,Q1,DAL,ATL,3,2,0,0,0,...,0,0,0,0,1,0,0,0,Team B,1
6,21-Oct-21,0 days 00:01:07.000000000,Q1,DAL,ATL,3,2,0,0,0,...,0,0,0,0,1,0,0,1,Team B,1
7,21-Oct-21,0 days 00:01:12.000000000,Q1,DAL,ATL,3,2,0,0,0,...,0,0,0,0,1,0,0,1,Team B,1
8,21-Oct-21,0 days 00:01:16.000000000,Q1,DAL,ATL,3,2,0,0,0,...,0,0,0,0,1,0,1,1,Team B,1
9,21-Oct-21,0 days 00:01:25.000000000,Q1,DAL,ATL,6,2,0,0,0,...,0,0,0,0,1,0,1,1,Team B,1
10,21-Oct-21,0 days 00:01:46.000000000,Q1,DAL,ATL,6,2,0,0,0,...,0,0,0,0,1,0,1,1,Team B,1
11,21-Oct-21,0 days 00:01:50.000000000,Q1,DAL,ATL,8,2,0,0,0,...,0,0,0,0,1,0,1,1,Team B,1
12,21-Oct-21,0 days 00:02:06.000000000,Q1,DAL,ATL,8,2,0,0,0,...,0,0,0,0,1,0,1,1,Team B,1
13,21-Oct-21,0 days 00:02:06.000000000,Q1,DAL,ATL,8,2,0,0,0,...,0,0,0,0,1,0,1,1,Team B,1
14,21-Oct-21,0 days 00:02:24.000000000,Q1,DAL,ATL,8,2,0,0,0,...,0,0,0,0,1,0,1,1,Team B,1
15,21-Oct-21,0 days 00:02:30.000000000,Q1,DAL,ATL,8,2,0,0,0,...,0,0,0,0,1,0,1,2,Team B,1
16,21-Oct-21,0 days 00:02:34.000000000,Q1,DAL,ATL,8,2,0,0,0,...,0,0,0,0,1,0,1,2,Team B,1
17,21-Oct-21,0 days 00:02:38.000000000,Q1,DAL,ATL,8,2,0,0,0,...,0,0,0,0,1,0,2,2,Team B,1
18,21-Oct-21,0 days 00:02:41.000000000,Q1,DAL,ATL,8,2,0,0,0,...,0,0,0,0,1,0,2,2,Team B,1
19,21-Oct-21,0 days 00:02:41.000000000,Q1,DAL,ATL,8,2,0,0,0,...,0,0,0,0,1,0,2,2,Team B,1
20,21-Oct-21,0 days 00:02:56.000000000,Q1,DAL,ATL,8,2,0,0,0,...,0,0,0,0,1,0,2,2,Team B,1
21,21-Oct-21,0 days 00:03:01.000000000,Q1,DAL,ATL,10,2,0,0,0,...,0,0,0,0,1,0,2,2,Team B,1
23,21-Oct-21,0 days 00:03:14.000000000,Q1,DAL,ATL,10,4,0,0,0,...,0,0,0,0,1,0,2,2,Team B,1
24,21-Oct-21,0 days 00:03:31.000000000,Q1,DAL,ATL,10,4,0,0,0,...,0,0,0,0,1,0,2,2,Team B,1
25,21-Oct-21,0 days 00:03:36.000000000,Q1,DAL,ATL,10,4,0,0,0,...,0,0,0,0,1,0,2,3,Team B,1
26,21-Oct-21,0 days 00:03:36.000000000,Q1,DAL,ATL,10,4,0,0,1,...,0,0,0,0,1,0,2,3,Team B,1
27,21-Oct-21,0 days 00:03:46.000000000,Q1,DAL,ATL,10,7,0,0,1,...,0,0,0,0,1,0,2,3,Team B,1
28,21-Oct-21,0 days 00:03:58.000000000,Q1,DAL,ATL,10,7,0,0,1,...,0,0,0,0,1,0,2,3,Team B,1
29,21-Oct-21,0 days 00:04:01.000000000,Q1,DAL,ATL,10,7,0,0,1,...,0,0,0,0,1,0,2,4,Team B,1
30,21-Oct-21,0 days 00:04:13.000000000,Q1,DAL,ATL,10,10,0,0,1,...,0,0,0,0,1,0,2,4,Team B,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1221891,5-Apr-22,0 days 00:44:09.000000000,Q4,WAS,MIN,126,104,0,1,19,...,7,5,2,3,8,6,42,30,Team A,79
1221892,5-Apr-22,0 days 00:44:14.000000000,Q4,WAS,MIN,126,104,0,1,20,...,7,5,2,3,8,6,42,30,Team A,79
1221896,5-Apr-22,0 days 00:44:23.000000000,Q4,WAS,MIN,126,107,0,1,20,...,7,5,2,3,8,6,42,30,Team A,79
1221897,5-Apr-22,0 days 00:44:41.000000000,Q4,WAS,MIN,126,107,0,1,20,...,7,5,2,3,8,6,42,30,Team A,79
1221898,5-Apr-22,0 days 00:44:43.000000000,Q4,WAS,MIN,126,107,0,1,20,...,7,5,2,3,8,6,42,31,Team A,79
1221899,5-Apr-22,0 days 00:44:51.000000000,Q4,WAS,MIN,126,107,0,1,21,...,7,5,2,3,8,6,42,31,Team A,79
1221900,5-Apr-22,0 days 00:44:51.000000000,Q4,WAS,MIN,126,108,0,1,21,...,7,5,2,3,8,6,42,31,Team A,79
1221902,5-Apr-22,0 days 00:44:51.000000000,Q4,WAS,MIN,126,109,0,1,21,...,7,5,2,3,8,6,42,31,Team A,79
1221903,5-Apr-22,0 days 00:45:10.000000000,Q4,WAS,MIN,126,109,0,1,21,...,7,5,2,3,8,6,42,31,Team A,79
1221904,5-Apr-22,0 days 00:45:14.000000000,Q4,WAS,MIN,126,109,0,1,21,...,7,5,2,3,9,6,42,31,Team A,79
1221905,5-Apr-22,0 days 00:45:24.000000000,Q4,WAS,MIN,126,109,0,1,21,...,7,5,2,3,9,6,42,31,Team A,79
1221906,5-Apr-22,0 days 00:45:27.000000000,Q4,WAS,MIN,126,109,0,1,21,...,7,5,2,3,9,6,42,32,Team A,79
1221907,5-Apr-22,0 days 00:45:32.000000000,Q4,WAS,MIN,126,109,0,1,22,...,7,5,2,3,9,6,42,32,Team A,79
1221908,5-Apr-22,0 days 00:45:49.000000000,Q4,WAS,MIN,126,109,0,1,22,...,7,5,2,3,9,6,42,32,Team A,79
1221909,5-Apr-22,0 days 00:46:08.000000000,Q4,WAS,MIN,126,109,0,1,22,...,7,5,2,3,9,6,42,32,Team A,79
1221910,5-Apr-22,0 days 00:46:10.000000000,Q4,WAS,MIN,126,109,0,1,22,...,7,5,2,4,9,6,42,32,Team A,79
1221911,5-Apr-22,0 days 00:46:13.000000000,Q4,WAS,MIN,126,109,0,1,23,...,7,5,2,4,9,6,42,32,Team A,79
1221912,5-Apr-22,0 days 00:46:13.000000000,Q4,WAS,MIN,126,109,0,1,23,...,7,5,2,4,9,6,42,32,Team A,79
1221913,5-Apr-22,0 days 00:46:13.000000000,Q4,WAS,MIN,126,109,0,1,23,...,7,6,2,4,9,6,42,32,Team A,79
1221914,5-Apr-22,0 days 00:46:13.000000000,Q4,WAS,MIN,126,110,0,1,23,...,7,6,2,4,9,6,42,32,Team A,79
1221915,5-Apr-22,0 days 00:46:31.000000000,Q4,WAS,MIN,128,110,0,1,23,...,7,6,2,4,9,6,42,32,Team A,79
1221916,5-Apr-22,0 days 00:46:45.000000000,Q4,WAS,MIN,128,110,0,1,24,...,7,6,2,4,9,6,42,32,Team A,79
1221917,5-Apr-22,0 days 00:46:45.000000000,Q4,WAS,MIN,128,111,0,1,24,...,7,6,2,4,9,6,42,32,Team A,79
1221918,5-Apr-22,0 days 00:46:45.000000000,Q4,WAS,MIN,128,112,0,1,24,...,7,6,2,4,9,6,42,32,Team A,79
1221919,5-Apr-22,0 days 00:46:58.000000000,Q4,WAS,MIN,130,112,0,1,24,...,7,6,2,4,9,6,42,32,Team A,79
1221920,5-Apr-22,0 days 00:47:07.000000000,Q4,WAS,MIN,130,114,0,1,24,...,7,6,2,4,9,6,42,32,Team A,79
1221921,5-Apr-22,0 days 00:47:30.000000000,Q4,WAS,MIN,132,114,0,1,24,...,7,6,2,4,9,6,42,32,Team A,79
1221922,5-Apr-22,0 days 00:47:43.000000000,Q4,WAS,MIN,132,114,0,1,24,...,7,6,2,4,9,6,42,32,Team A,79
1221923,5-Apr-22,0 days 00:47:46.000000000,Q4,WAS,MIN,132,114,0,1,24,...,7,6,2,4,9,6,43,32,Team A,79
1221924,5-Apr-22,0 days 00:48:00.000000000,Q4,WAS,MIN,132,114,0,1,24,...,7,6,2,4,9,6,43,32,Team A,79

In [11]:
a=merged_df.copy()

In [12]:
a.to_csv('Combine.csv',)